* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li {
    border-bottom: 1px solid #555;
}

.dropdown-content li a {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo-container {
    text-align: center; /* Centrer le logo horizontalement */
    margin: 20px auto; /* Ajouter un espacement autour du logo */
}

.eco-logo {
    max-width: 100%; /* Assurer que le logo s'adapte � l'�cran */
    height: auto; /* Maintenir le ratio d'aspect */
    width: 300px; /* Vous pouvez ajuster la largeur selon vos pr�f�rences */
    border-radius: 8px; /* Optionnel : coins arrondis pour un style plus doux */
}
.horizontal-bar {
    width: 100%;  /* Cela permet à la bande de s'étendre sur toute la largeur de l'écran */
    height: 200px;  /* Ajustez la hauteur pour rendre la bande plus épaisse */
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}